ul {
  list-style-type: none;
  float: left;
}

li {
  margin: 5px;
}

img {
  border: 1px solid #000000;
  width: 100px;
  height: 100px;
}

div {
  width: 1000px;
  height: 500px;
  border: 1px solid #000000;
  float: left;
  margin-top: 50px;
  margin-left: 100px;
}
