/* Board Styling */
.board {}

/* Bubble Styling */
.bubble {
    width: 25%;
    height: 790px;
    background-color: #e7f7ff;
    outline: 2px solid #000000;
}

/* Cell Styling */
.cell {}

/* Row Styling */
.row {}